<div class="table grid">
  <div class="col-1">
    <p>As you’re setting down your concept, use this table to check that you’re not getting lost in buzzwords:</p>
  </div>
  <div class="row">
    <div class="col-1-4">
      <p class="strong">If you hear yourself saying…</p>
    </div>
    <div class="col-3-4">
      <p>Ask yourself…</p>
    </div>
  </div><!-- // Row -->
  <div class="row">
    <div class="col-1-4">
      <p class="strong">Transparency</p>
    </div>
    <div class="col-3-4">
      <p>Which information is being made transparent and to whom? Is this information something that has been asked for, and for which there is existing demand? How does revealing this information advance specific outcomes (e.g. improving citizen’s lives) related to my defined problem?</p>
    </div>
  </div><!-- // Row -->
  <div class="row">
    <div class="col-1-4">
      <p class="strong">Accountability</p>
    </div>
    <div class="col-3-4">
      <p>Which specific linkages and interactions between individuals and institutions am I referring to? What incentives drive the behavior that I define as negative, and are there specific ways I can modify incentive structures (or introduce new incentives) that may change this behavior? What channels of feedback exist between individuals and institutions? Which can be strengthened (and are there opportunities to introduce new channels) to encourage the behavior I define as positive?</p>
    </div>
  </div><!-- // Row -->
  <div class="row">
    <div class="col-1-4">
      <p class="strong">Participation</p>
    </div>
    <div class="col-3-4">
      <p>Who exactly will be involved in the activity? (Think of real-life individuals and groups you know, rather than general categories.) Do I mean broad-based involvement from all sectors of the population, or specific types of individuals or organizations? What specific activities do I expect these participants to undertake? How will their participation further my goals, and is there a ‘critical mass’ of participants needed before I will see desired results?</p>
    </div>
  </div><!-- // Row -->
  <div class="row">
    <div class="col-1-4">
      <p>
    <p class="strong">Innovation</p>
    </div>
    <div class="col-3-4">
      <p>What is the nature or scope of innovation am I expecting? Is it in the actors involved, process utilized, outcomes produced, and/or some other way? Is this a new solution, an existing solution brought to a new context, or a recombination of existing and new ideas? Do I just mean "technology"? If so, is there a good reason to use the word “innovation” instead?</p>
    </div>
  </div><!-- // Row -->
  <div class="row">
    <div class="col-1-4">
      <p class="strong">Co-creation</p>
    </div>
    <div class="col-3-4">
      <p>Who should provide input into the shape of the program? Am I including key actors who will participate in or be affected by implementation? What pre-existing power dynamics normally prevent these groups from having input? How does the co-creation process I am proposing mitigate the impacts of such dynamics? How will the solution benefit from an invested community of collaborators?</p>
    </div>
  </div><!-- // Row -->
  <div class="row">
    <div class="col-1-4">
      <p class="strong">Citizen</p>
    </div>
    <div class="col-3-4">
      <p>Which “citizens” specifically will benefit? Do these citizens comprise one identifiable group with shared characteristics, or are there multiple groups that may have differing opinions and reactions to this program?</p>
    </div>
  </div><!-- // Row -->
  <div class="row">
    <div class="col-1-4">
      <p class="strong">Government</p>
    </div>
    <div class="col-3-4">
      <p>Which level or area of government am I referring to? Am I referring to the government apparatus or to specific individuals that work within it? If specific individuals, do I mean: Elected officials? Political appointees? Civil servants? Specialists in a certain technical area? Frontline service providers?</p>
    </div>
  </div><!-- // Row -->
  <div class="row">
    <div class="col-1-4">
      <p class="strong">Civil Society</p>
    </div>
    <div class="col-3-4">
      <p>Am I referring to the full sphere of society that exists between the family and the government/state? If not, which slice of ‘civil society’ am I referring to? Do I mean civil society organizations or individual activists? In terms of organizations, do I mean advocacy, service delivery, politically affiliated, and/or professional association organizations?</p>
    </div>
  </div><!-- // Row -->
  <div class="row">
    <div class="col-1-4">
      <p class="strong">Engagement</p>
    </div>
    <div class="col-3-4">
      <p>What is the collection of specific conversations, interactions, or other activities that I expect my program to enable? What is the scope and depth of involvement or interaction that I am envisioning?</p>
    </div>
  </div><!-- // Row -->
  <div class="row">
    <div class="col-1-4">
      <p class="strong">Open Government</p>
    </div>
    <div class="col-3-4">
      <p>Do I mean more transparent, participatory, and/or accountable government? Or some other vision of how government may work? Is openness or transparency necessary for achieving my target outcomes? If so, what level of openness and at which points? Am I referring specifically to activities related to the Open Government Partnership?</p>
    </div>
  </div><!-- // Row -->
</div><!-- // Table -->