<script src="{{ "/js/tipso.min.js" | prepend: site.baseurl }}"></script>
<script>
	$(document).ready(function() {
		$('.tipso').tipso();
	});
</script>

<link rel="stylesheet" href="{{site.baseurl}}/css/tipso.min.css" />

<div class="fullbleed_wrap grey">
	<div class="table theoryofchange">
		<div class="grid">
			<h1>Sample Theory of Change</h1>
			<div class="tocstep col-1-2">
				<div id="my-tooltip" class="title tipso" title="Note that this goal is inextricable from the program idea; the Innovation Agents program is this isolated space.">
					<h3><span class="numberblock">1</span>Needs or Problems to be Addressed</h3>
				</div>
				<ul>
					<li>Place the citizen at the center of policymakers’ considerations</li>
					<li>Have an isolated space where new ideas can be born, nurtured, and developed</li>
					<li>Infuse government with new talent and expertise</li>
					<li>Make project development bureaucratically lighter, faster, more effective, and efficient</li>
					<li>Have a continuous project design and implementation feedback loop</li>
				</ul>
			</div>
			<div class="tocstep col-1-2">
				<div class="title">
					<h3><span class="numberblock">2</span>Inputs &amp; Activities</h3>
				</div>
				<ul>
					<li>Human Centered Design (HCD) methodology and mentoring</li>
					<li>Political capital</li>
					<li>Specialized human capital</li>
					<li>Project budget independent from traditional allocation of public resources</li>
					<li>Strategic advice, follow-up, mentoring, and public exposure for teams</li>
					<li>Communications efforts</li>
				</ul>
			</div>
		</div>
		<div class="grid">
			<div class="tocstep col-1-2">
				<div class="title">
					<h3><span class="numberblock">3</span>Outputs</h3>
				</div>
				<ul>
					<li>Five creative and unexpected tech-based solutions to long-standing problems</li>
					<li>A “bubble” for the incubation of new ideas</li>
					<li>A process of knowledge, problem-solving skills, and expertise transfer</li>
					<li>Cross-cutting relationships that support the implementation of the National Digital Strategy</li>
					<li>Extensive documentation and research, with communications to disseminate</li>
					<li>Target users widely adopt the tech-based solutions developed by Innovation Agents teams</li>
				</ul>
			</div>
			<div class="tocstep col-1-2">
				<div class="title">
					<h3><span class="numberblock">4</span>Outcomes</h3>
				</div>
				<ul>
					<li>The Mexican Government becomes a platform for innovation. This means that: </li>
					<ul>
						<li>Citizens can engage in sustained collaboration with government agencies to co-create and co-produce solutions that make more efficient use of public resources.    </li>
						<li>Government attracts the best minds from outside to work with insiders who have technical expertise.</li>
						<li>There are increased incentives for government agencies to try new approaches and deliver results.</li>
						<li>Government uses rapid prototyping techniques, and breaks with traditional bureaucratic processes for efficient project development.</li>
					</ul>
				</ul>
			</div>
		</div>
	</div>
</div>