<script src="{{ "/js/tipso.min.js" | prepend: site.baseurl }}"></script>
<script>
	$(document).ready(function() {
		$('.tipso').tipso();
	});

</script>

<div class="fullbleed_wrap grey">
	<div class="table theoryofchange">
		<div class="grid">
			<h1>Sample Theory of Change</h1>
			<div class="tocstep toc1 col-1-2">
				<table class="title">
					<tr>
						<td class="numberblock">1</td>
						<td>
							<h3><span class="tipso" data-tipso="The theory of change starts with clearly identifying your problem (see Phase 1). Here, CEDN framed it in terms of the solution it wanted to see.">Needs or Problems to be Addressed</span></h3></td>
					</tr>
				</table>
				<ul>
					<li>Place the citizen at the center of policymakers’ considerations</li>
					<li><span class="tipso" data-tipso="Note that this goal is inextricable from the program idea; the Innovation Agents program is this isolated space.">Have an isolated space where new ideas can be born, nurtured, and developed</span></li>
					<li>Infuse government with new talent and expertise</li>
					<li>Make project development bureaucratically lighter, faster, more effective, and efficient</li>
					<li>Have a continuous project design and implementation feedback loop</li>
				</ul>
			</div>
			<div class="tocstep toc2 col-1-2">
				<table class="title">
					<tr>
						<td class="numberblock">2</td>
						<td>
							<h3>Inputs &amp; Activities</h3>
						</td>
					</tr>
				</table>
				<ul>
					<li><span class="tipso" data-tipso="Your inputs should be inspired by the needs you are addressing. For example, HCD was chosen as one way to help “place the citizen at the center…”">Human Centered Design (HCD) methodology and mentoring</span></li>
					<li>Political capital</li>
					<li><span class="tipso" data-tipso="…and the outside entrepreneurs invited to participate were another way, since they brought experience in engaging with target communities (in addition to “infusing government with new talent and expertise”).">Specialized human capital</span></li>
					<li><span class="tipso" data-tipso="Note that the theory of change includes facets of the program structure that are vital to the goal. Here, the budget structure is part of how the program streamlines project development ">Project budget independent from traditional allocation of public resources</span></li>
					<li>Strategic advice, follow-up, mentoring, and public exposure for teams</li>
					<li>Communications efforts</li>
				</ul>
			</div>
		</div>
		<div class="grid">
			<div class="tocstep toc3 col-1-2">
				<table class="title">
					<tr>
						<td class="numberblock">3</td>
						<td>
							<h3><span class="tipso" data-tipso="Each of your outputs should clearly flow from at least one of your inputs">Outputs</span></h3>
						</td>
					</tr>
				</table>
				<ul>
					<li>Five creative and unexpected tech-based solutions to long-standing problems</li>
					<li>A “bubble” for the incubation of new ideas</li>
					<li>A process of knowledge, problem-solving skills, and expertise transfer</li>
					<li>Cross-cutting relationships that support the implementation of the National Digital Strategy</li>
					<li>Extensive documentation and research, with communications to disseminate</li>
					<li><span class="tipso" data-tipso="For simplicity, we’ve only included short-term outputs and have not included the program’s medium and longer-term outputs; you should plan to include these. The short-term outputs here are expected to be achieved within 9 months (the length of the program’s first pilot), but timelines for each program will invariably differ.">Target users widely adopt the tech-based solutions developed by Innovation Agents teams</span></li>
				</ul>
			</div>
			<div class="tocstep toc4 col-1-2">
				<table class="title">
				<tr>
					<td class="numberblock">4</td>
					<td>
						<h3>Outcomes</h3>
					</td>
				</tr>
				</table>
				<ul>
					<li>The Mexican Government becomes a platform for innovation. This means that: </li>
					<ul>
						<li>Citizens can engage in sustained collaboration with government agencies to co-create and co-produce solutions that make more efficient use of public resources.    </li>
						<li>Government attracts the best minds from outside to work with insiders who have technical expertise.</li>
						<li>There are increased incentives for government agencies to try new approaches and deliver results.</li>
						<li><span class="tipso" data-tipso="Think carefully about your target outcomes, and how you will measure success at the end of your program. Broad, visionary, and somewhat vague outcomes may serve the needs of your program, but remember that you’ll want to be able to know (and share) whether you have achieved what you set out to do.">Government uses rapid prototyping techniques, and breaks with traditional bureaucratic processes for efficient project development.</span></li>
					</ul>
				</ul>
			</div> 
		</div>
		<div class="grid">
			<div class="tocstep toc5 col-1">
				<div class="title">
					<div class="numberblock"><span class="tipso" data-tipso="Every programmatic theory of change includes a set of underlying assumptions about how the program will play out. They typically deal with how effectively your inputs will bring about the desired outputs, and how external factors will contribute to your program.">Assumptions</span></div>
					<div class="clearfix"></div>
				</div>
				<ul>
					<li>External fellows have unique technical expertise that is difficult for the government to attract through traditional hiring mechanisms.</li>
					<li>Internal fellows are knowledgeable enough to represent their agency’s perspective and needs.</li>
					<li>Internal and external fellows will co-manage and spend time working together collaboratively.</li>
					<li>There is effective knowledge transfer between the fellows and their teams.</li>
					<li>Project teams will see value in and commit to the HCD process and carry it out as planned.</li>
					<li>At least one project will be successful enough for the government to release and promote.</li>
					<li>The program, and the projects it supports, can be sufficiently isolated from political priorities and external pressures.</li>
				</ul>
			</div>
		</div>
	</div>
</div>