<!-- Intro Header -->
<header class="intro container">
  <div class="intro-body grid">
	  <div class="col-2-3">
	    <h1 class="brand-heading">Implementing<br />Innovation</h1>
	    <h3 class="intro-text">A User's Manual for<br />Open Government Programs</h3>
	    <p>Implementing Innovation is a hands-on resource that provides practical advice and guidance for government changemakers as they navigate the specific challenges of implementing innovative programs in the public sector.</p>
	  </div>
	  <div class="col-1-3">
	    <div class="nextphase"><a href="{{ site.baseurl }}/manual">
		    <h6>Get Started:</h6>
		    <h2><a href="{{ site.baseurl }}/manual/">Introduction</a></h2>
	    </div>
	  </div>
	  <img class="col-2-3 lightbulbs" src="{{ site.baseurl }}/img/lightbulbs.svg" />
	  <div class="clearfix"></div>
  </div>

</header>