    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Implementing<br />Innovation</h1>
                        <p class="intro-text">A User's Manual for Open Government Programs</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                        <button class="btn"><a href="#">Download the Manual</button>
                    </div>
                </div>
                <div class="row">
                    <img class="lightbulbs" src="img/lightbulbs.svg" />

                </div>
            </div>
        </div>
    </header>