<!-- Intro Header -->
<header class="intro container">
  <div class="intro-body grid">
	  <div class="col-2-3">
	    <h1 class="brand-heading">Implementing<br />Innovation</h1>
	    <!-- <h3 class="intro-text">A User's Manual for<br />Open Government Programs</h3> -->
	    <h3 class="intro-text">A hands-on resource with practical advice for government changemakers as they navigate the challenges of implementing programs in the public sector.</h3>
	    <!-- <p>Implementing Innovation is a hands-on resource that provides practical advice and guidance for government changemakers as they navigate the specific challenges of implementing innovative programs in the public sector.</p> -->

	    <img class="col-1 lightbulbs" alt="illustrated lightbulbs" src="{{ site.baseurl }}/img/lightbulbs.svg" />
	  </div>
	  <div class="col-1-3">
	    <div class="nextphase">
		    <h6>Get Started:</h6>
		    <h2><a href="{{ site.baseurl }}/manual/">Introduction</a></h2>
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="310px" height="180.7px" viewBox="0 0 310 180.7" style="enable-background:new 0 0 310 180.7;" xml:space="preserve">
				<g>
					<g>
						<path class="swoop" fill="none" stroke="#E86380" stroke-width="3" stroke-miterlimit="0" d="M182.5,7.6c-43.8-2.1-88.3,3.3-129,20.2C37.3,34.6,19.7,43,9.4,57.8c-10.4,14.9-9,33.4-1.2,49
						c17.2,34.3,57.3,53.3,93.4,59.7c42.3,7.5,85.3-0.6,125.5-14.2c18.9-6.4,39.2-13,56.2-23.6c14.4-8.9,25.1-22.8,22.9-40.6
						c-2.4-18.8-16-34.6-29.8-46.6c-14.4-12.5-31.1-21.9-49-28.3c-41-14.7-86.1-12.5-127.5-0.7c-19.3,5.5-38.6,12.8-55.2,24.2
						C29.6,47.2,14.4,62.3,10.7,81.2c-3.7,19.1,7.7,35.1,20.9,47.5c13.5,12.7,29,23.2,45.7,31.1c33.1,15.8,70.8,21.9,107.1,16.9"/>
					</g>
				</g>
			</svg>
	    </div>
		

			<script type="text/javascript">

			// prevent the SVG from loading already swooped

			var path = document.querySelector('.swoop');
			var length = path.getTotalLength();

			// Clear any previous transition
			path.style.transition = path.style.WebkitTransition =
			  'none';
			// Set up the starting positions
			path.style.strokeDasharray = length + ' ' + length;
			path.style.strokeDashoffset = length;

			// delay for a moment
			setTimeout(animateSwoop, 900);

			function animateSwoop() {

				// Clear any previous transition
				path.style.transition = path.style.WebkitTransition =
				  'none';
				// Set up the starting positions
				path.style.strokeDasharray = length + ' ' + length;
				path.style.strokeDashoffset = length;
				// Trigger a layout so styles are calculated & the browser
				// picks up the starting position before animating
				path.getBoundingClientRect();
				// Define our transition
				path.style.transition = path.style.WebkitTransition =
				  'stroke-dashoffset 1.1s ease-in-out';
				// Go!
				path.style.strokeDashoffset = '0';
			}
			

			</script>

			<img class="thebook" src="{{ site.baseurl }}/img/bookphoto.jpg" alt="photo of the implementing innovation book" />
			<p>This website is the digital version of the Implementing Innovation manual by Reboot. For more information about the manual, or to order a physical copy, email us at <a href="mailto:hello@reboot.org">hello@reboot.org</a>

	  </div>
	  <div class="clearfix"></div>
  </div>

</header>