<div class="lessons col-1-2">

	<h2>Lessons Learned</h2>

	<!-- PHASE 1 -->

	<h3><a href="{{ site.baseurl }}/manual/phase1#dreaming-big-even-before-gaining-a-foothold">Dreaming Big, Even Before Gaining a Foothold.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase1#using-international-examples-to-pique-interest-at-home">Using International Examples to Pique Interest at Home.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase1#creating-a-presentation-that-turned-heads">Creating a Presentation that Turned Heads.</a></h3>

	<!-- PHASE 2 -->

	<h3><a href="{{ site.baseurl }}/manual/phase2#aligning-with-existing-priorities-to-ensure-support">Aligning with Existing Priorities to Ensure Support.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase2#identifying-decision-makers-takes-time-and-persistence-and-chance">Identifying Decision-makers Takes Time (and Persistence, and Chance).</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase2#playing-up-exciting-and-buzzy-details">Playing Up Exciting and “Buzzy” Details.</a></h3>

	<!-- PHASE 3 -->

	<h3><a href="{{ site.baseurl }}/manual/phase3#avoiding-innovation-orphans">Avoiding Innovation Orphans.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase3#conservative-project-choice-in-light-of-tight-timelines">Conservative Project Choice in Light of Tight Timelines.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase3#uniformity-of-requirements-diversity-of-participants">Uniformity of Requirements, Diversity of Participants.</a></h3>

	<!-- PHASE 4 -->

	<h3><a href="{{ site.baseurl }}/manual/phase4#breaking-new-ground-with-familiar-funders">Breaking New Ground with Familiar Funders.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase4#itemizing-budgets-maximizing-access-to-funding">Itemizing Budgets, Maximizing Access to Funding.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase4#using-non-financial-contributions-for-unique-impact">Using Non-Financial Contributions for Unique Impact.</a></h3>

	<!-- PHASE 5 -->

	<h3><a href="{{ site.baseurl }}/manual/phase5#a-pull-strategy-with-potential">A “Pull” Strategy with Potential.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase5#avoiding-priority-paralysis">Avoiding Priority Paralysis.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase5#common-traits-of-successful-partners">Common Traits of Successful Partners.</a></h3>

	<!-- PHASE 6 -->

	<h3><a href="{{ site.baseurl }}/manual/phase6#kicking-off-consistently-with-room-to-adapt">Kicking Off Consistently, with Room to Adapt.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase6#sharing-responsibility-for-smooth-transitions">Sharing Responsibility for Smooth Transitions.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase6#the-programmatic-risk-of-project-myopia">The Programmatic Risk of Project Myopia.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase6#comfort-and-inspiration-in-numbers">Comfort and Inspiration in Numbers.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase6#small-steps-big-importance">Small Steps, Big Importance.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase6#shifting-gears-from-launch-to-implementation">Shifting Gears from Launch to Implementation.</a></h3>

	<!-- PHASE 7 -->

	<h3><a href="{{ site.baseurl }}/manual/phase7#cultivating-channels-for-feedback-and-space-for-reflection">Cultivating Channels for Feedback and Space for Reflection.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase7#waiting-to-be-asked-for-feedback">Waiting to be Asked for Feedback.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase7#actively-responding-to-feedback-for-greater-representation">Actively Responding to Feedback for Greater Representation.</a></h3>

</div>