 <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button> -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <p>Menu</p>
                </button>
                {% if page.layout == 'default' %}
                {% else %}
                <a class="navbar-brand page-scroll" href="{{ site.baseurl }}/">
                    <img class="logo" src="{{ site.baseurl }}/img/lightbulb.svg" alt="Implementing Innovation Logo">
                </a>
                {% endif %}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a {% if page.nav == "essentials" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/essentials/">The Essentials</a>
                    </li>
                    <li>
                        <a {% if page.nav == "manual" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/manual/">Read the Manual</a>
                    </li>
                    <li>
                        <a {% if page.nav == "about" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/about/">About</a>
                    </li>
                    <li>
                        <a {% if page.nav == "contact" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/contact/">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% if page.layout == 'default' %}

    {% else %}
   
    {% endif %}
