 <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button> -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <p>Menu</p>
                </button>
                {% if page.layout == 'default' %}
                {% else %}
                <a class="navbar-brand page-scroll" href="{{ site.baseurl }}/">
                    <img class="logo" src="{{ site.baseurl }}/img/lightbulb.svg" alt="Implementing Innovation Logo">
                </a>
                {% endif %}
            </div>
                       
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li>
                        <a {% if page.nav == "essentials" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/highlights/">Highlights</a>
                    </li>
                    <li>
                        <a {% if page.nav == "manual" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/manual/">Read the Manual</a>
                    </li>
                    <li>
                        <a {% if page.nav == "about" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/about/">About</a>
                    </li>
                    <li>
                        <a {% if page.nav == "contact" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/contact/">Contact</a>
                    </li>
                </ul>
                {% if page.layout == 'default' %}
                <svg version="1.1" class="highlightarrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="64.6px" height="56.6px" viewBox="0 0 64.6 56.6" style="enable-background:new 0 0 64.6 56.6;" xml:space="preserve">
                <g>
                  <g>
                  <path class="highlight_arrow" fill="none" stroke="#E86380" stroke-width="3" stroke-miterlimit="0" d="M6.3,6.5C4.5,12.6,1.1,20,2.2,26.4c0.9,5.5,5.3,8.9,10.2,11c14,5.9,31,6.6,45.9,4.8c1.9-0.2,3.7-2.7,1.8-4.3
                        c-4.2-3.4-8.4-6.8-12.6-10.2c-1,1.3-2,2.6-3,3.9c5.3,3.1,10,6.8,14.4,11.2c0.2-1.3,0.3-2.6,0.5-3.9c-4.8,2.8-8.8,6.3-12.2,10.6"/>
                    <!-- <path class="highlight_arrow" fill="none" stroke="#E86380" stroke-width="3" stroke-miterlimit="0" d="M6.3,6.5C4.5,12.6,1.1,20,2.2,26.4c0.9,5.5,5.3,8.9,10.2,11c14,5.9,31,6.6,45.9,4.8c1.9-0.2,3.7-2.7,1.8-4.3
                        c-4.2-3.4-8.4-6.8-12.6-10.2c-1,1.3-2,2.6-3,3.9c5.3,3.1,10,6.8,14.4,11.2c0.2-1.3,0.3-2.6,0.5-3.9c-4.8,2.8-8.8,6.3-12.2,10.6"/> -->
                    <!-- <path class="highlight_arrow" fill="none" stroke="#E86380" stroke-width="3" stroke-miterlimit="0" d="M6.3,6.5C4.5,12.6,1.1,20,2.2,26.4c0.9,5.5,5.3,8.9,10.2,11c14,5.9,31,6.6,45.9,4.8c1.9-0.2,3.7-2.7,1.8-4.3
                    c-4.2-3.4-8.4-6.8-12.6-10.2c-1,1.3-2,2.6-3,3.9c5.3,3.1,10,6.8,14.4,11.2c0.2-1.3,0.3-2.6,0.5-3.9c-4.8,2.8-8.8,6.3-12.2,10.6
                    c-2,2.5,1.6,6.1,3.5,3.5c3.1-4,6.8-7.3,11.2-9.9c1.4-0.8,1.6-2.8,0.5-3.9c-4.6-4.6-9.7-8.6-15.4-12c-2.4-1.4-5.3,2.1-3,3.9
                    c4.2,3.4,8.4,6.8,12.6,10.2c0.6-1.4,1.2-2.8,1.8-4.3c-12.7,1.5-25.4,0.9-37.8-2.4c-4.6-1.2-11.4-2.9-13.1-8
                    c-1.8-5.3,2.3-13.8,3.7-19C12,4.7,7.2,3.4,6.3,6.5L6.3,6.5z"/> -->
                  </g>
                </g>
                </svg>
                <script type="text/javascript">

                // prevent the SVG from loading already swooped

                var path2 = document.querySelector('.highlight_arrow');
                var length2 = path2.getTotalLength();

                // Clear any previous transition
                path2.style.transition = path2.style.WebkitTransition =
                  'none';
                // Set up the starting positions
                path2.style.strokeDasharray = length2 + ' ' + length2;
                path2.style.strokeDashoffset = length2;

                // delay for a moment
                setTimeout(animateSwoop, 2100);

                function animateSwoop() {

                  // Clear any previous transition
                  path2.style.transition = path.style.WebkitTransition =
                    'none';
                  // Set up the starting positions
                  path2.style.strokeDasharray = length + ' ' + length;
                  path2.style.strokeDashoffset = length;
                  // Trigger a layout so styles are calculated & the browser
                  // picks up the starting position before animating
                  path2.getBoundingClientRect();
                  // Define our transition
                  path2.style.transition = path.style.WebkitTransition =
                    'stroke-dashoffset 1.3s ease-in-out';
                  // Go!
                  path2.style.strokeDashoffset = '0';
                }
                </script>
                {% else %}{% endif %} 
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% if page.layout == 'default' %}

    {% else %}
   
    {% endif %}
