 <!-- Navigation -->
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                {% if page.layout == 'default' %}
                {% else %}
                <a class="navbar-brand page-scroll" href="{{baseurl}}/">
                    <img class="logo" src="/img/logo.svg" alt="Implementing Innovation Logo">
                </a>
                {% endif %}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="{{baseurl}}/manual/">Manual</a>
                    </li>
                    {% if page.layout == 'default' %}
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>

                    {% else %}
                    <li>
                        <a class="page-scroll" href="{{baseurl}}/#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{baseurl}}/#contact">Contact</a>
                    </li>
                    {% endif %}
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>