<div class="nav_manual">
	<a href="{{baseurl}}/manual/phase1"><img class="phase1 svg" src="/img/bar_left_grey.svg" /></a>
	<a href="{{baseurl}}/manual/phase2"><img class="phase2 svg" src="/img/bar_middle_grey.svg" /></a>
	<a href="{{baseurl}}/manual/phase3"><img class="phase3 svg" src="/img/bar_middle_grey.svg" /></a>
	<a href="{{baseurl}}/manual/phase4"><img class="phase4 svg" src="/img/bar_middle_grey.svg" /></a>
	<a href="{{baseurl}}/manual/phase5"><img class="phase5 svg" src="/img/bar_middle_grey.svg" /></a>
	<a href="{{baseurl}}/manual/phase6"><img class="phase6 svg" src="/img/bar_middle_grey.svg" /></a>
	<a href="{{baseurl}}/manual/phase7"><img class="phase7 svg" src="/img/bar_middle_grey.svg" /></a>
	<a href="{{baseurl}}/manual/phase8"><img class="phase8 svg" src="/img/bar_right_grey.svg" /></a>
</div>