<div class="manualnav_wrap stickem">
	<div class="phasetitle">
		{% if page.active == "phase1" %}
		<h1>Concept Development</h1>
		{% else %}{% endif %}

		{% if page.active == "phase2" %}
		<h1>Securing Political Support</h1>
		{% else %}{% endif %}

		{% if page.active == "phase3" %}
		<h1>Program Design</h1>
		{% else %}{% endif %}

		{% if page.active == "phase4" %}
		<h1>Securing Financial Support</h1>
		{% else %}{% endif %}

		{% if page.active == "phase5" %}
		<h1>Selecting Projects &amp; Partners</h1>
		{% else %}{% endif %}

		{% if page.active == "phase6" %}
		<h1>Planning</h1>
		{% else %}{% endif %}

		{% if page.active == "phase7" %}
		<h1>Reflection &amp; Feedback</h1>
		{% else %}{% endif %}

		{% if page.active == "phase8" %}
		<h1>Implementation</h1>
		{% else %}{% endif %}
	</div>
	<div class="manualnav">
		<a {% if page.active == "phase1" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/manual/phase1">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 143.6 32.7" enable-background="new 0 0 143.6 32.7" xml:space="preserve">
			<path class="phase1" fill="#FFFFFF" stroke="#000000" stroke-width="1.0462" stroke-miterlimit="10" d="M112.2,29.9H15.9c-4.5,0-8.4-2.2-10.9-5.5
			c-1.7-2.3-2.7-5.1-2.7-8.1s1-5.9,2.7-8.1c2.5-3.3,6.4-5.5,10.9-5.5l124.7,0.1L112.2,29.9z"/>
			</svg>
			<h6>Concept</h6>
		</a>
		<a {% if page.active == "phase2" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/manual/phase2">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 143.6 32.7" enable-background="new 0 0 143.6 32.7" xml:space="preserve">
			<g>
			<polygon class="phase2" fill="#FFFFFF" stroke="#000000" stroke-width="1.0462" stroke-miterlimit="10" points="110.9,29.9 2.2,29.9 30.6,2.9 
			139.2,2.9 	"/>
			</g>
			</svg>
			<h6>Support</h6>
		</a>
		<a {% if page.active == "phase3" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/manual/phase3">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 143.6 32.7" enable-background="new 0 0 143.6 32.7" xml:space="preserve">
			<g>
			<polygon class="phase3" fill="#FFFFFF" stroke="#000000" stroke-width="1.0462" stroke-miterlimit="10" points="110.9,29.9 2.2,29.9 30.6,2.9 
			139.2,2.9 	"/>
			</g>
			</svg>
			<h6>Design</h6>
		</a>
		<a {% if page.active == "phase4" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/manual/phase4">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 143.6 32.7" enable-background="new 0 0 143.6 32.7" xml:space="preserve">
			<g>
			<polygon class="phase4" fill="#FFFFFF" stroke="#000000" stroke-width="1.0462" stroke-miterlimit="10" points="110.9,29.9 2.2,29.9 30.6,2.9 
			139.2,2.9 	"/>
			</g>
			</svg>
			<h6>Finance</h6>
		</a>
		<a {% if page.active == "phase5" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/manual/phase5">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 143.6 32.7" enable-background="new 0 0 143.6 32.7" xml:space="preserve">
			<g>
			<polygon class="phase5" fill="#FFFFFF" stroke="#000000" stroke-width="1.0462" stroke-miterlimit="10" points="110.9,29.9 2.2,29.9 30.6,2.9 
			139.2,2.9 	"/>
			</g>
			</svg>
			<h6>Partners</h6>
		</a>
		<a {% if page.active == "phase6" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/manual/phase6">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 143.6 32.7" enable-background="new 0 0 143.6 32.7" xml:space="preserve">
			<g>
			<polygon class="phase6" fill="#FFFFFF" stroke="#000000" stroke-width="1.0462" stroke-miterlimit="10" points="110.9,29.9 2.2,29.9 30.6,2.9 
			139.2,2.9 	"/>
			</g>
			</svg>
			<h6>Planning</h6>
		</a>
		<a {% if page.active == "phase7" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/manual/phase7">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 143.6 32.7" enable-background="new 0 0 143.6 32.7" xml:space="preserve">
			<g>
			<polygon class="phase7" fill="#FFFFFF" stroke="#000000" stroke-width="1.0462" stroke-miterlimit="10" points="110.9,29.9 2.2,29.9 30.6,2.9 
			139.2,2.9 	"/>
			</g>
			</svg>
			<h6>Reflection</h6>
		</a>
		<a {% if page.active == "phase8" %}class="active"{% else %}{% endif %} href="{{ site.baseurl }}/manual/phase8">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 143.6 32.7" enable-background="new 0 0 143.6 32.7" xml:space="preserve">
			<path class="phase8" fill="#FFFFFF" stroke="#000000" stroke-width="1.0462" stroke-miterlimit="10" d="M30.6,2.7H127c4.5,0,8.4,2.2,10.9,5.5
			c1.7,2.3,2.7,5.1,2.7,8.1s-1,5.9-2.7,8.1c-2.5,3.3-6.4,5.5-10.9,5.5H2.2L30.6,2.7z"/>
			</svg>
			<h6>Implementation</h6>
		</a> 
	</div>
	<div class="clearfix"></div>
</div>