<div class="manualnav stickem">
	<a href="{{baseurl}}/manual/phase1">
		<p>Phase 1</p>
		<img class="phase1 svg" src="/img/manual_navbar_left.svg" />
	</a>
	<a href="{{baseurl}}/manual/phase2">
		<p>Phase 2</p>
		<img class="phase2 svg" src="/img/manual_navbar_middle.svg" />
	</a>
	<a href="{{baseurl}}/manual/phase3">
		<p>Phase 3</p>
		<img class="phase3 svg" src="/img/manual_navbar_middle.svg" />
	</a>
	<a href="{{baseurl}}/manual/phase4">
		<p>Phase 4</p>
		<img class="phase4 svg" src="/img/manual_navbar_middle.svg" />
	</a>
	<a href="{{baseurl}}/manual/phase5">
		<p>Phase 5</p>
		<img class="phase5 svg" src="/img/manual_navbar_middle.svg" />
	</a>
	<a href="{{baseurl}}/manual/phase6">
		<p>Phase 6</p>
		<img class="phase6 svg" src="/img/manual_navbar_middle.svg" />
	</a>
	<a href="{{baseurl}}/manual/phase7">
		<p>Phase 7</p>
		<img class="phase7 svg" src="/img/manual_navbar_middle.svg" />
	</a>
	<a href="{{baseurl}}/manual/phase8">
		<p>Phase 8</p>
		<img class="phase8 svg" src="/img/manual_navbar_right.svg" />
	</a>
</div>