<div class="principles">

	<!-- PHASE 1 -->

	<h3><a href="{{ site.baseurl }}/manual/phase1#specifying-the-what-of-a-problem-provides-the-space-to-creatively-define-the-how-of-your-solution">Specifying the “what” of a problem provides the space to creatively define the “how” of your solution.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase1#define-your-buzzwords">Define your buzzwords.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase1#build-support-on-others-success">Build support on others’ success.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase1#stay-open-to-opportunities">Stay open to opportunities.</a></h3>

	<!-- PHASE 2 -->

	<h3><a href="{{ site.baseurl }}/manual/phase2#target-pitching-to-gatekeepers-and-decision-makers">Target pitching to gatekeepers and decision-makers.</a></h3>

	<!-- PHASE 3 -->

	<h3><a href="{{ site.baseurl }}/manual/phase3#watch-for-your-own-assumptions">Watch for your own assumptions.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase3#establish-your-non-negotiables">Establish your non-negotiables.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase3#understand-your-value-and-capabilities">Understand your value and capabilities.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase3#design-an-institutional-legacy">Design an institutional legacy.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase3#account-for-busy-schedules">Account for busy schedules.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase3#account-for-delays">Account for delays.</a></h3>

	<!-- PHASE 4 -->

	<h3><a href="{{ site.baseurl }}/manual/phase4#be-transparent-about-your-funding-sources">Be transparent about your funding sources</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase4#funding-provides-more-than-one-kind-of-support">Funding provides more than one kind of support.</a></h3>

	<!-- PHASE 5 -->

	<h3><a href="{{ site.baseurl }}/manual/phase5#be-transparent-in-project-selection">Be transparent in project selection.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase5#find-a-project-in-the-sweet-spot-of-political-support">Find a project in the “sweet spot” of political support.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase5#consider-the-people-who-will-make-the-project">Consider the people who will make the project.</a></h3>

	<!-- PHASE 6 -->

	<h3><a href="{{ site.baseurl }}/manual/phase6#define-now-relax-later">Define now, relax later.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase6#plan-for-change-in-what-is-needed-from-your-team-and-participants">Plan for change in what is needed from your team and participants.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase6#document-for-your-legacy">Document for your legacy.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase6#communicate-the-larger-objectives">Communicate the larger objectives.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase6#schedule-time-for-gathering">Schedule time for gathering.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase6#appreciate-the-moment">Appreciate the moment.</a></h3>

	<!-- PHASE 7 -->

	<h3><a href="{{ site.baseurl }}/manual/phase7#demonstrate-your-understanding-of-feedback">Demonstrate your understanding of feedback.</a></h3>

	<!-- PHASE 8 -->

	<h3><a href="{{ site.baseurl }}/manual/phase8#be-an-engaged-ambitious-manager">Be an engaged, ambitious manager.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase8#communicate-often">Communicate often.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase8#protect-and-credit-your-participants">Protect and credit your participants.</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase8#create-a-positive-participant-experience">Create a positive participant experience</a></h3>

	<h3><a href="{{ site.baseurl }}/manual/phase8#trust-your-own-program-design">Trust your own program design.</a></h3>

</div>