<div class="toc">
	<div class="grid">

	<h2>Table of Contents</h2>
		<div class="col-1-4 phase1">
			<h4>Phase 1</h4>
			<h2><a href="{{ site.baseurl }}/manual/phase1/">Concept Development</a></h2>
			<h5 class="principles">Principles</h5>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase1#specifying-the-what-of-a-problem-provides-the-space-to-creatively-define-the-how-of-your-solution">Specifying the “what” of a problem provides the space to creatively define the “how” of your solution.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase1#define-your-buzzwords">Define your buzzwords.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase1#build-support-on-others-success">Build support on others’ success.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase1#stay-open-to-opportunities">Stay open to opportunities.</a></p>

			<h5 class="lessons">Lessons Learned</h5>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase1#dreaming-big-even-before-gaining-a-foothold">Dreaming Big, Even Before Gaining a Foothold.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase1#using-international-examples-to-pique-interest-at-home">Using International Examples to Pique Interest at Home.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase1#creating-a-presentation-that-turned-heads">Creating a Presentation that Turned Heads.</a></p>

		</div>
		<div class="col-1-4 phase2">
			<h4>Phase 2</h4>
			<h2><a href="{{ site.baseurl }}/manual/phase2/">Securing Political Support</a></h2>
			<h5 class="principles">Principles</h5>
			<p class="principle"><a href="{{ site.baseurl }}/manual/phase2#target-pitching-to-gatekeepers-and-decision-makers">Target pitching to gatekeepers and decision-makers.</a></p>

			<h5 class="lessons">Lessons Learned</h5>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase2#aligning-with-existing-priorities-to-ensure-support">Aligning with Existing Priorities to Ensure Support.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase2#identifying-decision-makers-takes-time-and-persistence-and-chance">Identifying Decision-makers Takes Time (and Persistence, and Chance).</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase2#playing-up-exciting-and-buzzy-details">Playing Up Exciting and “Buzzy” Details.</a></p>

		</div>
		<div class="col-1-4 phase3">
			<h4>Phase 3</h4>
			<h2><a href="{{ site.baseurl }}/manual/phase3/">Program Design</a></h2>
			<h5 class="principles">Principles</h5>
			<p class="principle"><a href="{{ site.baseurl }}/manual/phase3#watch-for-your-own-assumptions">Watch for your own assumptions.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase3#establish-your-non-negotiables">Establish your non-negotiables.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase3#understand-your-value-and-capabilities">Understand your value and capabilities.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase3#design-an-institutional-legacy">Design an institutional legacy.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase3#account-for-busy-schedules">Account for busy schedules.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase3#account-for-delays">Account for delays.</a></p>

			<h5 class="lessons">Lessons Learned</h5>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase3#avoiding-innovation-orphans">Avoiding Innovation Orphans.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase3#conservative-project-choice-in-light-of-tight-timelines">Conservative Project Choice in Light of Tight Timelines.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase3#uniformity-of-requirements-diversity-of-participants">Uniformity of Requirements, Diversity of Participants.</a></p>

		</div>
		<div class="col-1-4 phase4">
			<h4>Phase 4</h4>
			<h2><a href="{{ site.baseurl }}/manual/phase4/">Securing Financial Support</a></h2>
			<h5 class="principles">Principles</h5>
			<p class="principle"><a href="{{ site.baseurl }}/manual/phase4#be-transparent-about-your-funding-sources">Be transparent about your funding sources</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase4#funding-provides-more-than-one-kind-of-support">Funding provides more than one kind of support.</a></p>

			<h5 class="lessons">Lessons Learned</h5>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase4#breaking-new-ground-with-familiar-funders">Breaking New Ground with Familiar Funders.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase4#itemizing-budgets-maximizing-access-to-funding">Itemizing Budgets, Maximizing Access to Funding.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase4#using-non-financial-contributions-for-unique-impact">Using Non-Financial Contributions for Unique Impact.</a></p>

		</div>
	</div>
	<div class="grid">
		<div class="col-1-4 phase5">
			<h4>Phase 5</h4>
			<h2><a href="{{ site.baseurl }}/manual/phase5/">Selecting Projects &amp; Partners</a></h2>
			<h5 class="principles">Principles</h5>
			<p class="principle"><a href="{{ site.baseurl }}/manual/phase5#be-transparent-in-project-selection">Be transparent in project selection.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase5#find-a-project-in-the-sweet-spot-of-political-support">Find a project in the “sweet spot” of political support.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase5#consider-the-people-who-will-make-the-project">Consider the people who will make the project.</a></p>

			<h5 class="lessons">Lessons Learned</h5>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase5#a-pull-strategy-with-potential">A “Pull” Strategy with Potential.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase5#avoiding-priority-paralysis">Avoiding Priority Paralysis.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase5#common-traits-of-successful-partners">Common Traits of Successful Partners.</a></p>

		</div>
		<div class="col-1-4 phase6">

			<h4>Phase 6</h4>
			<h2><a href="{{ site.baseurl }}/manual/phase6/">Planning</a></h2>
			<h5 class="principles">Principles</h5>
			<p class="principle"><a href="{{ site.baseurl }}/manual/phase6#define-now-relax-later">Define now, relax later.</a></p>
			<p class="principle"><a href="{{ site.baseurl }}/manual/phase6#plan-for-change-in-what-is-needed-from-your-team-and-participants">Plan for change in what is needed from your team and participants.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase6#document-for-your-legacy">Document for your legacy.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase6#communicate-the-larger-objectives">Communicate the larger objectives.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase6#schedule-time-for-gathering">Schedule time for gathering.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase6#appreciate-the-moment">Appreciate the moment.</a></p>

			<h5 class="lessons">Lessons Learned</h5>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase6#kicking-off-consistently-with-room-to-adapt">Kicking Off Consistently, with Room to Adapt.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase6#sharing-responsibility-for-smooth-transitions">Sharing Responsibility for Smooth Transitions.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase6#the-programmatic-risk-of-project-myopia">The Programmatic Risk of Project Myopia.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase6#comfort-and-inspiration-in-numbers">Comfort and Inspiration in Numbers.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase6#small-steps-big-importance">Small Steps, Big Importance.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase6#shifting-gears-from-launch-to-implementation">Shifting Gears from Launch to Implementation.</a></p>

		</div>
		<div class="col-1-4 phase7">
			<h4>Phase 7</h4>
			<h2><a href="{{ site.baseurl }}/manual/phase7/">Reflection &amp; Feedback</a></h2>
			<h5 class="principles">Principles</h5>
			<p class="principle"><a href="{{ site.baseurl }}/manual/phase7#demonstrate-your-understanding-of-feedback">Demonstrate your understanding of feedback.</a></p>

			<h5 class="lessons">Lessons Learned</h5>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase7#cultivating-channels-for-feedback-and-space-for-reflection">Cultivating Channels for Feedback and Space for Reflection.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase7#waiting-to-be-asked-for-feedback">Waiting to be Asked for Feedback.</a></p>

			<p class="lesson"><a href="{{ site.baseurl }}/manual/phase7#actively-responding-to-feedback-for-greater-representation">Actively Responding to Feedback for Greater Representation.</a></p>


		</div>
		<div class="col-1-4 phase8">
			<h4>Phase 8</h4>
			<h2><a href="{{ site.baseurl }}/manual/phase8/">Implementation</a></h2>
			<h5 class="principles">Principles</h5>
			<p class="principle"><a href="{{ site.baseurl }}/manual/phase8#be-an-engaged-ambitious-manager">Be an engaged, ambitious manager.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase8#communicate-often">Communicate often.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase8#protect-and-credit-your-participants">Protect and credit your participants.</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase8#create-a-positive-participant-experience">Create a positive participant experience</a></p>

			<p class="principle"><a href="{{ site.baseurl }}/manual/phase8#trust-your-own-program-design">Trust your own program design.</a></p>

		</div>
	</div>
</div>
