$phase1: #F79B36;
$phase2: #FFCF1E;
$phase3: #E63E26;
$phase4: #E86380;
$phase5: #C9549E;
$phase6: #6880BF;
$phase7: #47B549;
$phase8: #BFD749;

$darkgrey: #404041;
$lightgrey: #DBE8E9;
$darkblue: #3F4251;

// same as phase1
$orange: #F79B36;

// same as phase3
$red: #E63E26;

// same as phase4
$pink: #E86380;

$principlecolor: #445877;

$facebookblue: #3b5998;
$twitterblue: #55acee;