@font-face { 
  font-family: 'Heuristica';
  font-weight: 500;
  font-style: normal; 
  src: url('fonts/heuristica-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/heuristica-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/heuristica-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/heuristica-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Heuristica';
  font-weight: 700;
  font-style: normal;
  src: url('fonts/heuristica-bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/heuristica-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/heuristica-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/heuristica-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}