---
layout: essentials
nav: essentials
---
<div class="default">
	<h1>Sample Theory of Change</h1>
	<p>This is an abridged version of the Innovation Agents program’s theory of change. It has been streamlined and shortened for easy reference, and is presented as a real-world example, not necessarily an ideal model. We have provided notes for each section to help you get started on your own.</p>
	
</div>

{% include socialshare.html url="essentials/theory-of-change/" %}

{% include essentials_theoryofchange.html %}

<p><em>This graphic is from <a href="{{ site.baseurl }}/manual/phase3/">Phase 3: Program Design</em></p>