---
layout: chapter
nav: essentials
---
<div class="default">
	<h1>Buzzwords and Fuzzwords</h1>
	<p>As you crystallize your concept, be mindful of your language. Any innovation program is at risk of drowning in “buzzwords,” vague concepts that can become so overused that they can mean just about anything to anyone.</p>

	<p>When used strategically, these broadly relatable concepts do have a function in open government. Innovators must create coalitions of people from different groups or sectors; it can be useful to have language that invites people to embrace new concepts, break old boundaries, and define new possibilities… while leaving the specifics intentionally hazy. But buzzwords also carry risk: They can mask ambiguity to a degree that will later become an issue during implementation, and can encourage trendy-but-impractical solutions.</p>
</div>

{% include socialshare.html url="essentials/buzzwords-fuzzwords" %}

{% include essentials_buzzwords.html %}

<p><em>This graphic is from <a href="{{ site.baseurl }}/manual/phase1/">Phase 1: Concept Development</em></p>