---
layout: essentials
nav: essentials
---
<div class="default">
	<h1>The “Sweet Spot” of Political Support</h1>
	<p>While you should align project selection with existing political realities, be wary of selecting projects that are too deeply embedded within another program or set of priorities; this can interfere with your goals. Your open government initiative is likely to push boundaries, or be at least somewhat experimental. You want the projects you incorporate into your program to have enough buy-in to secure the necessary approvals and resources. But if your program becomes too integral to the success of another department or individual, then you may lose flexibility and the space to innovate as “priority paralysis” instead sets in.</p>
	
</div>

{% include socialshare.html url="highlights/sweet-spot/" %}

{% include essentials_sweetspot.html %}

<p><em>This graphic is from <a href="{{ site.baseurl }}/manual/phase5/">Phase 5: Selecting Projects &amp; Partners</em></p>